@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


body {
    background-color: #403f3f;
    background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;
    font-family: 'Permanent Marker', cursive;
}

.container {
    background-color: white;
    width: 800px;
    border-radius: .5em;
    text-align: center;
    padding: 50px 20px;
}

h3 {
    margin: 0;
    opacity: 0.5;
    letter-spacing: 2px;
}

.jokes {
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 40px;
    margin: 50px auto;
    max-width: 600px
 }

 .btn {
    background-color: grey;
    border: none;
    color: white;
    border-radius: .5em;
    padding: 14px 40px;
    cursor: pointer;
    transition: 50ms
 }

 .btn:active {
    transform: scale(0.98);
 }